---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main
      class="flex flex-1 flex-col gap-4 px-12 py-6 md:px-48 md:py-16 lg:px-96 lg:py-20"
    >
      <div class="hero rounded bg-base-200">
        <div class="hero-content flex-col">
          <div class="flex flex-row items-center justify-center gap-4">
            <div class="avatar">
              <div class="w-24 rounded-lg md:w-32 lg:w-48">
                <img src="/icon.webp" alt="けんたろうのアイコン" />
              </div>
            </div>
            <div class="flex flex-col">
              <h1 class="text-3xl font-bold lg:text-4xl">けんたろう</h1>
              <p class="text-left text-gray-400 lg:text-xl">@Kentaro1043</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
