---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main
      class="flex-1 px-24 py-10 flex flex-col gap-4 md:px-48 md:py-16 lg:px-96 lg:py-20"
    >
      <div class="avatar flex justify-center">
        <div class="w-32 rounded">
          <img src="/icon.webp" alt="けんたろうのアイコン" />
        </div>
      </div>
      <div>
        <h1 class="text-4xl text-center font-bold">けんたろう</h1>
        <p class="text-center text-gray-400">@Kentaro1043</p>
      </div>
    </main>
    <Footer />
  </body>
</html>
