---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon/components";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main
      class="flex flex-1 flex-col gap-4 px-8 py-6 md:px-36 md:py-16 lg:px-80 lg:py-20"
    >
      <div
        class="hero mx-auto max-w-xl rounded-2xl border-2 border-accent bg-base-200 py-4"
      >
        <div
          class="hero-content w-xs flex-col gap-4 md:w-sm md:gap-6 lg:w-md lg:gap-8"
        >
          <div
            class="animate-float-up flex flex-row items-center justify-center gap-4 md:gap-6 lg:gap-8"
          >
            <div class="avatar">
              <div class="w-24 rounded-2xl md:w-32 lg:w-40">
                <img src="/icon.webp" alt="けんたろうのアイコン" />
              </div>
            </div>
            <div class="flex flex-col">
              <h1 class="text-3xl font-bold lg:text-4xl">けんたろう</h1>
              <p class="text-left font-mono text-gray-400 lg:text-xl">
                @Kentaro1043
              </p>
            </div>
          </div>
          <div class="flex w-full flex-col gap-2">
            <div
              class="animate-float-up-delay-1 flex w-full rounded-lg bg-[#0F1419] px-4 py-3"
            >
              <a
                href="https://x.com/Kentaro1043"
                target="_blank"
                class="flex items-center gap-2 rounded-lg"
              >
                <Icon name="fa6-brands:x-twitter" width="28" height="28" />
                <span class="font-mono">@Kentaro1043</span>
              </a>
            </div>
            <div
              class="animate-float-up-delay-2 flex w-full rounded-lg bg-black px-4 py-3"
            >
              <a
                href="https://github.com/Kentaro1043"
                target="_blank"
                class="flex items-center gap-2 rounded-lg"
              >
                <Icon name="fa6-brands:github" width="28" height="28" />
                <span class="font-mono">@Kentaro1043</span>
              </a>
            </div>
            <div
              class="animate-float-up-delay-3 flex w-full rounded-lg bg-white px-4 py-2"
            >
              <a
                href="https://atcoder.com/Kentaro1043"
                target="_blank"
                class="flex items-center gap-2 rounded-lg"
              >
                <img
                  src="/atcoder.png"
                  alt="AtCoder logo"
                  width="28"
                  height="28"
                />
                <span class="font-mono text-black">@Kentaro1043</span>
              </a>
            </div>
            <div
              class="animate-float-up-delay-4 flex w-full rounded-lg bg-[#5da5f8] px-4 py-2"
            >
              <a
                href="https://zenn.dev/kentaro1043"
                target="_blank"
                class="flex items-center gap-2 rounded-lg"
              >
                <img src="/zenn.svg" alt="Zenn logo" width="28" height="28" />
                <span class="font-mono">@kentaro1043</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
    <style>
      .animate-float-up {
        animation: float-up 1s ease-in-out;
        animation-fill-mode: forwards;
      }
      .animate-float-up-delay-1 {
        opacity: 0;
        animation: float-up 0.3s ease-in-out 1s;
        animation-fill-mode: forwards;
      }
      .animate-float-up-delay-2 {
        opacity: 0;
        animation: float-up 0.3s ease-in-out 1.3s;
        animation-fill-mode: forwards;
      }
      .animate-float-up-delay-3 {
        opacity: 0;
        animation: float-up 0.3s ease-in-out 1.6s;
        animation-fill-mode: forwards;
      }
      .animate-float-up-delay-4 {
        opacity: 0;
        animation: float-up 0.3s ease-in-out 1.9s;
        animation-fill-mode: forwards;
      }

      @keyframes float-up {
        0% {
          transform: translateY(20px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    </style>
  </body>
</html>
