---

---

<div
  class="prose w-full prose-zinc dark:prose-invert prose-h2:border-b-2 prose-h2:border-dashed prose-h2:border-primary prose-h2:pb-2 prose-h3:border-b-2 prose-h3:border-dashed prose-h3:border-secondary prose-h3:pb-1 prose-a:text-primary prose-a:underline prose-a:hover:text-secondary"
>
  <slot />
</div>
