---
import SocialIcon from "./SocialIcon.astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a href="/" class="link link-hover">Home</a>
    <a href="/about" class="link link-hover">About</a>
    <a href="/blog" class="link link-hover">Blog</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <SocialIcon name="twitter" href="https://x.com/Kentaro1043" width=32 height=32/>
      <SocialIcon name="github" href="https://github.com/Kentaro1043" width=32 height=32/>
    </div>
  </nav>
</footer>
