---
import SocialIcon from "./SocialIcon.astro";
import { Icon } from "astro-icon/components";
import { SITE_TITLE } from "../consts";
---

<div class="navbar bg-base-100 shadow-md">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <Icon name="fa6-solid:bars" />
      </div>
      <ul
        tabindex="0"
        class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Blog</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">{SITE_TITLE}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
  <div class="navbar-end grid grid-flow-col gap-4 p-2">
    <SocialIcon name="twitter" href="https://x.com/Kentaro1043" />
    <SocialIcon name="github" href="https://github.com/Kentaro1043" />
  </div>
</div>
