---

---

<div
  class="prose dark:prose-invert prose-h2:border-b-2 prose-h2:border-dashed prose-h2:border-primary prose-h2:pb-2 prose-h2:text-2xl prose-h3:border-b-2 prose-h3:border-dashed prose-h3:border-secondary prose-h3:pb-1 prose-h3:text-xl prose-a:text-primary prose-a:underline prose-a:hover:text-secondary prose-ul:my-0 prose-li:my-0"
>
  <slot />
</div>
